/* General
******************************/
body{
    font-family: 'DIN';
    font-weight: lighter;
    background-color:#fff;
}



/* Content
******************************/

/* Gebruiker aanmaken */
#aanmaken{
    margin-top:2em;
}



/* Navigatie
******************************/
#nav{
    font-family: 'DIN';
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    display: block;
    clear: both;

}

#nav a:hover{
    color: #FFF;
    background-color: #999;
    text-shadow: none;

}



/* Search
******************************/
.ui-input-search {
    width: 30%;
    height: 30px;
    border-radius: 18px;
    position: absolute;
    margin-top: -4.5%;
    margin-left: 26%;
}



/* Footer
******************************/
footer{
    font-size: 10px;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    background-color: #ec676f;
    width: 100%;
    height: 50px;
    text-align: right;
    margin: 0 auto;
}

footer p{
    margin-top:1.5em;
    text-transform: uppercase;
    font-size: 10px;
    text-align:right;
}



/* Images
******************************/
.logo{
    padding: 10px;
    margin-left: 5%;
}

#iphone{
    margin: 2em 0 0 4em;
}

#ipad{
    margin:0;
}



/* Titles
******************************/
h1{
    text-transform: uppercase;
    font-weight: lighter;
    color: #ec676f;
    text-shadow: none;
    border-bottom: 1px solid #ec676f;
}

h2{
    color: #ec676f;
    font-family: 'zwodrei-bold';
    font-size: 70px;
    line-height:65px;
    margin:0;
    padding:0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

h3{
    text-transform: uppercase;
    font-size:1.5em;
    margin:0;
    padding:0;
}




/* Buttons
******************************/
#head-btn{
    float: right;
    width:400px;
    height:100px;
    margin-top:-7%;
}

#btn-registreer{
    margin-top: 1em;
    float:left;
    font-family: 'DIN';
    font-weight:100;
    letter-spacing: 0.05em;
    background: #609a90;
    background-image: -webkit-linear-gradient(top, #609a90, #046a73);
    background-image: -moz-linear-gradient(top, #609a90, #046a73);
    background-image: -ms-linear-gradient(top, #609a90, #046a73);
    background-image: -o-linear-gradient(top, #609a90, #046a73);
    background-image: linear-gradient(to bottom, #609a90, #046a73);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #333333;
    color: #ffffff;
    font-size: 0.9em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border:none;
}


#btn-registreer:hover {
    background: #ea696b;
    text-decoration: none;
}

#btn-aanmeld{
    color:  #ec676f;
    background-color: #FFF;
    border: 0px solid #FFF;
    text-shadow: none;
    font-family: 'DIN';
    font-weight: normal;
    float:right;
    font-size: 12px;
    height: 6px;
    line-height: 0.7;
    padding:0.8em 1em;
    margin-top:-5.7em;
}

#btn-afmeld{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    margin-left: 75%;
    margin-top: -30%;
    z-index: 20;
}

#btn-afmeld-profiel{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    z-index: 20;

}

#btn-afmeld-profiel a{
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    z-index: 20;
    margin-top: 40%;
    margin-left: 30%;

}


#head-btn p{
    text-shadow: none;
    font-weight: normal;
    color: #FFF;
    margin-top: -40%;
    margin-left: 50%;
    width: 80px;

}

/* Onthouden knop */
#switch-auth-button{
    float:right;
    font-size:1.2em;
    color: #ec676f;
    height: 14px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-shadow: none;
    text-align: center;
    background-color: #fff;
}



.ui-select .ui-btn>span:not(.ui-li-count){
    display: inline
}

.ui-btn-icon-right{
    padding:0.5em 3.5em 0.5em 0.8em;

}



.ui-field-contain {
    width:20%;
}


.ui-field-contain>label~[class*=ui-]{
    float:right;
    width:100%;
    padding: 0 0.1em;
    margin-right:-130%;
}

.ui-field-contain>label {
    text-shadow: none;
    color:#fff;
    font-size:1.4em;
    margin-top:-1.1%;
}

.register:hover {
    background: #fff;
}

html head+body .ui-btn.ui-btn-b {
    background-color: transparent;
    border:none;
    color: #ec676f !important;
}

/* Id en Classes
******************************/
#pomodoro-labels > span {
    background-color: #c7254e;
    color: #fff;
    border-radius: 3px;
    margin-right: .25em;
    padding: .25em .5em;
}


#info{
    height:200px;
    padding:3em 19em 2em 19em;
    margin-bottom:2em;
}

#aside-logo{
    float:left;
    margin:0;
    padding:0;
    text-align:right;
}

#article-slogan{
    float:right;
    text-align:left;
    margin-top:-0.9em;
    line-height:2em;
}


#vb{
    width: 100%;
}
#vb img{
    float: left;
    padding: 1em 0;
    width:auto;
    max-height:50%;
}

#invul{
    margin-left: 0%;
    display: inline;
    font-size: 10px;
    float: right;
    width:359px;
    padding-top:2em;
}

#invul1{
    position: absolute;
    margin-left: 0em;
    margin-top:0;
    width: 110px;
}

#invul2{
    position: absolute;
    width: 110px;
    padding:0;
    margin-top:0;
    margin-left:12em;
}

.ui-field-contain{
    padding-top:2em;
}
#beschikbaar{
    margin:0;
    width:100%;
    height:100%;
    border-bottom: 1px solid #999;
}

.ui-grid-b{
    overflow: visible;
}

.ui-page-theme-a .ui-slider-track .ui-btn-active{
    background-color:#046a73;
}


#switch-auth{
    height:1em;
    padding:0.1em 0;
}


/* Admin
******************************/





/* User
******************************/
#profiel{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 0px;
    padding-top: 30px;
    padding-right: 90px;
    position: absolute;
    right: 160px;
    top: 5px;
    text-align: center;
    margin-top: -1%;
}

#profiel_admin{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 90px;
    position: absolute;
    right: 160px;
    top: 5px;
    text-align: right;
    margin-top: -1%;

}

.foto {
    height: 60px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    border: 2px solid #FFF;
    width: 60px;
    background-size: 100% !important;
    background-position: center;
    margin-left: -15%;
    margin-top: -8%;
}

.foto_aanpas {
    height: 250px;
    -moz-border-radius:125px;
    -webkit-border-radius: 125px;
    width: 250px;
    background-size: 100% !important;
    background-position: center;
    text-align:right;
    float:right;
    margin-top:1em;
}

.foto_upload {
    margin-top:22em;
    font-size:0.8em;
    width:100%;
}

.foto_aanpas p a{

    font-size: 13px;
    color: #ec676f;
    font-family: 'DIN';
    font-weight: lighter;
    text-decoration: none;
}


a.ui-icon-custom:after {
    content: '\2714';
    text-align: center;
    line-height: 24px;
}
a.ui-icon-custom.check:after {
    color: #2ad;
}
a.ui-icon-custom.uncheck:after {
    color: #333;
}





/* Menu
********************************************/
.menu{
    float:left;
    margin-top: -0.6em;
    margin-left: 4%;
    width:220px;
    height:700px;
    background-color:#eee;
}




.ui-grid-d>.ui-block-a, .ui-grid-d>.ui-block-b, .ui-grid-d>.ui-block-c, .ui-grid-d>.ui-block-d, .ui-grid-d>.ui-block-e{
    display:block;
    margin-top:0.5em;
    width:100%;
    background-color:#eee;
    border:none;
}

#nav a {
    background-color:#eee;
    border: none;
    padding: 1.4em 0;
    margin: -0.3em 0;
    color: #ec676f;
    font-family: 'DIN';
    font-size: 0.9em;
}


.ui-navbar li:last-child .ui-btn {
    margin-right:0;
}


#nav a:hover{
    background-color:#ec676f;
    color: #FFF;
}

#nav .ui-btn-active {
    background-color:#b3b3b3;
    color: #FFF;
    text-shadow: none;


}




/* Instelingen
*/
.formleft{
    float:left;
    width:50%;
}
.formright{
    float:right;
    width:50%;
    height:500px;
    margin: 0 1em;
}





.ui-grid-b>.ui-block-b{
    width:100%;
    padding:1em 14em;
}




/* Responsive styles
********************************************/
.wrapper{
    margin:0;
    padding:0;
}
.container{
    margin:0 auto;
    padding:0.5% 0;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
}

.container:before,
.container:after{
    display:table;
    content:" ";
}
.container:after{
    clear:both;
}
.row:before,
.row:after{
    display:table;
    content:" ";
}
.row:after{
    clear:both;
}
.col{
    float:left;
    position:relative;
    min-height:1px;
    margin:1.041666%;
    padding:1.041666%;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;
    /*height:120px;/*NOT DONE --> BUT NOW UNIT TESTING!!!!*/
}

.cols{
    float:left;
    position:relative;
    min-height:1px;
    margin:0 6% 0 0;
    padding:0;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;
}
.col-sc1-12{width:97.91666%;}
.col-sc1-11{width:89.58333%;}
.col-sc1-10{width:81.25%;}
.col-sc1-9{width:72.91666%;}
.col-sc1-8{width:64.58333%;}
.col-sc1-7{width:56.25%;}
.col-sc1-6{width:47.91666%;}
.col-sc1-5{width:39.58333%;}
.col-sc1-4{width:31.25%;}
.col-sc1-3{width:22.91666%;}
.col-sc1-2{width:14.58333%;}
.col-sc1-1{width:6.25%;}

@media (min-width:480px) {
    .col-sc2-12{width:97.91666%;}
    .col-sc2-11{width:89.58333%;}
    .col-sc2-10{width:81.25%;}
    .col-sc2-9{width:72.91666%;}
    .col-sc2-8{width:64.58333%;}
    .col-sc2-7{width:56.25%;}
    .col-sc2-6{width:47.91666%;}
    .col-sc2-5{width:39.58333%;}
    .col-sc2-4{width:31.25%;}
    .col-sc2-3{width:22.91666%;}
    .col-sc2-2{width:14.58333%;}
    .col-sc2-1{width:6.25%;}
}

@media (min-width:768px) {
    .col-sc3-12{width:97.91666%;}
    .col-sc3-11{width:89.58333%;}
    .col-sc3-10{width:81.25%;}
    .col-sc3-9{width:72.91666%;}
    .col-sc3-8{width:64.58333%;}
    .col-sc3-7{width:56.25%;}
    .col-sc3-6{width:47.91666%;}
    .col-sc3-5{width:39.58333%;}
    .col-sc3-4{width:31.25%;}
    .col-sc3-3{width:22.91666%;}
    .col-sc3-2{width:14.58333%;}
    .col-sc3-1{width:6.25%;}
}

@media (min-width:1024px) {
    .col-sc4-12{width:97.91666%;}
    .col-sc4-11{width:89.58333%;}
    .col-sc4-10{width:81.25%;}
    .col-sc4-9{width:72.91666%;}
    .col-sc4-8{width:64.58333%;}
    .col-sc4-7{width:56.25%;}
    .col-sc4-6{width:47.91666%;}
    .col-sc4-5{width:39.58333%;}
    .col-sc4-4{width:31.25%;}
    .col-sc4-3{width:22.91666%;}
    .col-sc4-2{width:14.58333%;}
    .col-sc4-1{width:6.25%;}
}

@media (min-width:1280px) {
    .col-sc5-12{width:97.91666%;}
    .col-sc5-11{width:89.58333%;}
    .col-sc5-10{width:81.25%;}
    .col-sc5-9{width:72.91666%;}
    .col-sc5-8{width:64.58333%;}
    .col-sc5-7{width:56.25%;}
    .col-sc5-6{width:47.91666%;}
    .col-sc5-5{width:39.58333%;}
    .col-sc5-4{width:31.25%;}
    .col-sc5-3{width:22.91666%;}
    .col-sc5-2{width:14.58333%;}
    .col-sc5-1{width:6.25%;}
}


#header-wrapper{
    background-color:#ec676f;
    margin:0 auto;
    width:100%;
    padding:0 0 1em 0;
}


#header{
    background:#ec676f;
    height:100px;
    width: 100%;
}

main{

}

#main-wrapper{

}

#main-container{
    padding: 1em 3em 2em 3em;
}




#footer-wrapper{
    height: 20px;

}



.menu-toggle{
    display:block;
    padding:8px 10px;
    color:#fff;
    width: 80px;
    background:#b3b3b3 url('images/toggle.fw.png') no-repeat right;
    cursor:hand;
    cursor:pointer;
}

.reminder{
    margin-top: -1.2%;
    margin-left: 20%;
    border-top: 1px solid #ec676f;
    border-bottom: 1px solid #ec676f;
    padding: 1em 3em;



}

/* SMARTPHONES (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

    #reminder_content {
        margin-top: 135%;
        margin-left: -32%;
    }

    .reminder{
        margin-top: -0.2%;
    }

    #btn-afmeld-profiel a{
        margin-top: 25%;
        margin-left: 36%;
    }
    .taken2{
        margin-left: -50%;
    }

    .btn-taak2{
        margin-left: 35%;
        margin-top: -8%;
    }

    .listShare_btn {
        margin-left: -9%;
        margin-top: -19.2%;

    }
    .input-list {
        width: 250px;
        margin-left: 17%;
        margin-top: -14%;

    }

    .taskDone{
        margin-top: 2.5%;
        margin-left: -10%;
    }

    .taskRedo{
        margin-top: 2.5%;
        margin-left: -10%;
    }

    .cursief{
        font-style: italic;
        margin-left: 6%;
    }

    .hoog{
        background-color: darkred;
        color: white;
        width:20px;
        height:20px;
        border-radius:50px;
        line-height:100px;
        margin-left: 20%;
        margin-top: -2.5%;

    }
    .laag{
        margin-left: 20%;
        margin-top: -2.5%;
    }
    .normaal{
        margin-left: 20%;
        margin-top: -2.5%;
    }
    .btn-taak{
        margin-left: 30%;
        margin-top: -5%;
    }
    /* Footer */
    footer p{
        padding: 1em 0 0 0;
        text-align:center;
        margin:0;
    }

    /* Afbeeldingen homepagina */
    img {
        max-width: 100%;
        height:auto;
    }

    #iphone{
        margin: 0 auto;
        height: 300px;
        padding:0 2em;
    }

    #ipad{
        margin: 0 auto;
    }

    #vb, #vb img{
        margin:0 auto;
        text-align:center;
        padding-bottom:1em;
        float:none;
    }
    #login_blok{
        width:100%;
        height:100%;
        margin:-5em auto;
        padding:0;
    }

    #info{
        padding:6em 0 0 1.5em;
        height:400px;
        margin:0;
    }

    #article-slogan{
        margin-top:10em;
        float:left;
    }

    #beschikbaar{
        width:93%;
        margin:0 1em;
    }


    #aside-logo{
        margin:0 auto;
        padding:0;
        text-align:left;
    }

    #article-slogan{
        margin:0 auto;
        padding:0;
        text-align:left;
    }
    #header{
        background-color: #ec676f;
        height: 200px;
    }
    .ui-input-search {
        width: 90%;
        height: 30px;
        border-radius: 18px;
        position: absolute;
        margin:6.5em 0 0 1em;
        padding:0;
    }
    #switch-auth{
        float:left;
    }

    #remember-switch{
        margin: 3em 0 0 0;
    }
    #invul{
        margin-top:-1.5em;
        display: inline;
        font-size: 10px;
        float: left;
        padding-left:4em;
    }

    #login_blok{


    }
    #btn-aanmeld{
        margin-top: 0em;
        margin-left:12em;
        padding:0.75em 1em;
    }
    .ui-field-contain>label~[class*=ui-]{
        margin-top:-2em;
    }

    .ui-grid-b>.ui-block-b{
        width:100%;
        padding:1em 2em;
    }

    #profiel_admin{
        border-left: 0px solid #FFF;
        border-right: 0px solid #FFF;
        border-top: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 140px;
        top: 115px;
        text-align: right;
        margin-top: -1%;

    }

    #btn-afmeld-admin{
        border: 0px solid transparent;
        background-color: transparent;
        font-weight: lighter;
        text-shadow: none;
        color: #FFF;
        font-size: 9px;
        margin-left: 36%;
        margin-top: -3%;
        z-index: 20;
    }

    #profiel{
        border-left: 0px solid #FFF;
        border-right: 0px solid #FFF;
        border-top: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 135px;
        top: 102px;
        text-align: center;
        margin-top: -1%;
    }

    #profiel_index{
        border-left: 0px solid #FFF;
        border-right: 0px solid #FFF;
        border-top: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 135px;
        top: 102px;
        text-align: center;
        margin-top: -1%;
    }


    .menu-toggle{
        display:block;
    }

    .menu{
        display: none;
    }
    .foto_aanpas_profiel {
        top: 30%;
    }

    #main-container_index{
        padding: 1em 3em 2em 3em;
        height: 700px;
    }

}

@media only screen
and (min-width : 481px)
and (max-width : 679px) {

    #reminder_content {
        margin-top: 100%;
        margin-left: 10%;
    }

    #btn-afmeld-profiel a{
        margin-top: 23%;
        margin-left: 70%;
    }

    .foto_aanpas_profiel {
        top: 40%;
    }

    #info{
        padding: 2em 0 0 1.5em;
        height:300px;
        margin:0;
    }

    .taken2{
        margin-left: -32%;
    }

    .btn-taak2{
        margin-left: 45%;
        margin-top: -8%;
    }

    .listShare_btn {
        margin-left: -4%;
        margin-top: -11.2%;

    }

    .input-list {
        width: 300px;
        margin-left: 16%;
        margin-top: -11%;

    }
    .taskDone{
        margin-top: 1.5%;
        margin-left: -6%;
    }
    .taskRedo{
        margin-top: 1.5%;
        margin-left: -6%;
    }
    .cursief{
        font-style: italic;
        margin-left: 13%;
    }

    .hoog{
        background-color: darkred;
        color: white;
        width:20px;
        height:20px;
        border-radius:50px;
        line-height:100px;
        margin-left: 27%;
        margin-top: -2.5%;

    }

    .laag{
        margin-left: 27%;
        margin-top: -2.5%;
    }
    .normaal{
        margin-left: 27%;
        margin-top: -2.5%;
    }
    .btn-taak{
        margin-left: 40%;
        margin-top: -5%;
    }
    .ui-input-search {
        width: 90%;
        height: 30px;
        border-radius: 18px;
        position: absolute;
        margin: 1em 0 0 1em;
        padding:0;
    }

    #btn-afmeld-admin{
        border: 0px solid transparent;
        background-color: transparent;
        font-weight: lighter;
        text-shadow: none;
        color: #FFF;
        font-size: 9px;
        margin-left: 80%;
        margin-top: -6%;
        z-index: 20;
    }

    #head-btn{
        margin-top:-22%;
    }

    #header{
        background-color: #ec676f;
        height: 200px;
    }

    #profiel_admin{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: -35px;
        top: 5px;
        text-align: right;
        margin-top: -1%;

    }

    #profiel{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 0px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }
    #profiel_index{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-top: 0px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 0px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }
    .menu{
        display: none;
    }

    .menu-toggle{
        display:block;
    }

    .ui-grid-b>.ui-block-b{
        width:100%;
        padding:1em 4em;
    }

    #main-container_index{
        padding: 1em 3em 2em 3em;
        height: 700px;
    }

    .reminder{
    margin-top: -0.2%;
        margin-left: 20%;
        border-top: 1px solid #ec676f;
        border-bottom: 1px solid #ec676f;
        padding: 1em 3em;

    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 680px)
and (max-width : 930px) {

    #reminder_content {
        margin-top: 100%;
    }

    .reminder{
        margin-top: -0.2%;
        margin-left: 20%;
        border-top: 1px solid #ec676f;
        border-bottom: 1px solid #ec676f;
        padding: 1em 3em;

    }
    .taken2{
        margin-left: -30%;
    }

    .btn-taak2{
        margin-left: 40%;
        margin-top: -8%;
    }

    .listShare_btn {
        margin-left: -5%;
        margin-top: -13.2%;

    }
    .input-list {
        width: 300px;
        margin-left: 17%;
        margin-top: -10%;

    }

    .taskDone{
        margin-top: 1.5%;
        margin-left: -6%;
    }

    .taskRedo{
        margin-top: 1.5%;
        margin-left: -6%;
    }
    .cursief{
        font-style: italic;
        margin-left: 10%;
    }

    .hoog{
        background-color: darkred;
        color: white;
        width:20px;
        height:20px;
        border-radius:50px;
        line-height:100px;
        margin-left: 24%;
        margin-top: -2.5%;

    }

    .laag{
        margin-left: 24%;
        margin-top: -2.5%;
    }
    .normaal{
        margin-left: 24%;
        margin-top: -2.5%;
    }

    .btn-taak{
        margin-left: 35%;
        margin-top: -5%;
    }

    img {
        max-width: 100%;
        height:auto;
    }
    .ui-grid-b>.ui-block-b{
        width:100%;
        padding:1em 8em;
    }

    #info{
        padding: 2em 0 0 1.5em;
        height:300px;
        margin:0;
    }

    #head-btn{
        margin-top:-10%;
    }

    #header{
        background-color: #ec676f;
        height: 100px;
    }
    .ui-input-search {
        width: 90%;
        height: 30px;
        border-radius: 18px;
        position: absolute;
        margin:1em 0 0 1em;
        padding:0;
    }

    #invul{
        margin-top: -5em;
        display: inline;
        font-size: 10px;
        float: left;
        padding-left:2em;
    }

    #btn-afmeld-admin{
        border: 0px solid transparent;
        background-color: transparent;
        font-weight: lighter;
        text-shadow: none;
        color: #FFF;
        font-size: 9px;
        margin-left: 31%;
        margin-top: 0%;
        z-index: 20;
    }
    .menu{
        display: block !important;

    }
    .menu-toggle{
        display:none;
    }
    #profiel_index{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-top: 0px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }
    #profiel{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }


    #main-container_index{
        padding: 1em 3em 2em 3em;
        height: auto;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 931px)
and (max-width : 1024px) {

    .reminder{
        margin-top: -0.2%;
        margin-left: 20%;
        border-top: 1px solid #ec676f;
        border-bottom: 1px solid #ec676f;
        padding: 1em 3em;

    }
    #reminder_content {
        margin-top: 72%;
    }
    #head-btn{
        margin-top:-10%;
    }

    .btn-taak2{
        margin-left: 55%;
        margin-top: -8%;
    }

    .listShare_btn {
        margin-left: 0%;
        margin-top: -8.2%;

    }

    .input-list {
        width: 300px;
        margin-left: 9%;
        margin-top: -7%;

    }
    .btn-taak{
        margin-left: 55%;
        margin-top: -5%;
    }

    .ui-grid-b>.ui-block-b{
        width:100%;
        padding:1em 10em;
    }

    .menu{
        float:left;
        margin-top: 0em;
        margin-left: 4%;
        width:220px;
        height:700px;
        background-color:#eee;
        display: block;
    }

    .menu-toggle{
        display:none;
    }

    #profiel{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }
    #profiel_index{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-top: 0px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }


    #main-container_index{
        padding: 1em 3em 2em 3em;
        height: auto;
    }

}


@media only screen
and (min-width : 1024px)
and (max-width : 1280px)
{
    #reminder_content {
        margin-top: 50%;
    }

    #head-btn{
        margin-top:-8%;
    }

    .btn-taak2{
        margin-left: 65%;
        margin-top: -8%;
    }
    .listShare_btn {
        margin-left: -1%;
        margin-top: -7.2%;

    }
    .input-list {
        width: 300px;
        margin-left: 7%;
        margin-top: -5%;

    }
    .btn-taak{
        margin-left: 75%;
        margin-top: -5%;
    }
    .ui-grid-b>.ui-block-b{
        width:100%;
        padding:1em 14em;
    }

    #beschikbaar{
        padding-left: 2em;
    }

    #vb{
        margin-left: 15%;
    }
    .menu {
        display: block;
        margin-top: 0em;
    }

    .menu-toggle{
        display:none;
    }

    #profiel{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }

    #profiel_index{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-top: 0px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }
    .foto_aanpas {
        height: 250px;
        -moz-border-radius:125px;
        -webkit-border-radius: 125px;
        width: 250px;
        background-size: 100% !important;
        background-position: center;
        text-align:right;
        float:right;
        margin-top:1em;
        position: absolute;
        left: 22%;
        top: 14%;
    }

    .reminder{
        margin-top: -0.2%;
        margin-left: 25%;
        border-top: 1px solid #ec676f;
        border-bottom: 1px solid #ec676f;
        padding: 1em 3em;



    }
    #main-container_index{
        padding: 1em 3em 2em 3em;
        height: auto;
    }
}

@media only screen
and (min-width : 1280px)
{
    #reminder_content {
        margin-top: 50%;
    }

    #head-btn{
        margin-top:-7%;
    }
    .listShare_btn {
        margin-left: 1%;
        margin-top: -6.2%;

    }
    .input-list {
        width: 300px;
        margin-left: 7%;
        margin-top: -5%;

    }
    .menu-toggle{
        display:none;
    }
    .btn-taak{
        margin-left: 75%;
        margin-top: -5%;
    }

    .btn-taak2{
        margin-left: 65%;
        margin-top: -8%;
    }

    #profiel{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 0px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }

    #profiel_index{
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        border-top: 0px solid #FFF;
        width: 100px;
        padding-left: 30px;
        padding-bottom: 40px;
        padding-top: 30px;
        padding-right: 90px;
        position: absolute;
        right: 160px;
        top: 5px;
        text-align: center;
        margin-top: -1%;
    }

    .reminder{
        margin-top: -0.2%;
        margin-left: 30%;
        border-top: 1px solid #ec676f;
        border-bottom: 1px solid #ec676f;
        padding: 1em 3em;



    }

    #main-container_index{
        padding: 1em 3em 2em 3em;
        height: auto;
    }
}


.nav-profiel a{
    background-color: #eee;

}
.nav-profiel a:hover{
    background-color: #eee !important;
}


.foto_aanpas {
    height: 250px;
    -moz-border-radius:125px;
    -webkit-border-radius: 125px;
    width: 250px;
    background-size: 100% !important;
    background-position: center;
    text-align:right;
    float:right;
    margin-top:1em;
    position: absolute;
    left: 12%;
    top: 14%;
}


html head+body .ui-btn.ui-btn-b:hover{
    background-color: transparent;
}

