@font-face {
    font-family: 'DIN';
url('fonts/DIN.ttf') format('truetype'),
font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zwodrei';
url('fonts/zwodrei.ttf') format('truetype'),
font-weight: normal;
    font-style: normal;

}

#pomodoro-labels > span {
    background-color: #c7254e;
    color: #fff;
    border-radius: 3px;
    margin-right: .25em;
    padding: .25em .5em;
}

body{
    font-family: 'DIN';
    font-weight: lighter;
}
#header{
    background-color: #ec676f;
    width: 100%;
    padding-top: 10px;
    height: 100px;

}

.logo{

    padding: 10px;
    margin-left: 5%;
}

.btn-head{

}

#head-btn{
    float: right;

}


.ui-page-theme-a .ui-btn:hover {
    color: #ec676f;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.ui-page-theme-a .ui-btn {
    color: #ec676f;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}




#info_2{
    position: relative;
    top: -65%;
    left: 25%;
}

h2{
    color: #ec676f;
    font-family: 'zwodrei-bold';
    font-size: 70px;
    margin-bottom: -3%;
    margin-left: 8%;
}

h3{
    text-transform: uppercase;
    color: #ec676f;
}


#vb img{
    float: left;
    padding: 20px;


}

#btn-aanmeld{
    color:  #ec676f;
    background-color: #FFF;
    border: 0px solid #FFF;
    text-shadow: none;
    font-family: 'DIN';
    font-weight: normal;
    margin-left: 10%;
    margin-top: -105%;
    font-size: 12px;
    height: 6px;
    line-height: 0.7;
    width: 70px;

}

#iphone{
    margin-top: 5%;
    margin-left: 5%;
}

#ipad{
    margin-top: 2%;
}

#invul{
    margin-top: -60%;
    margin-left: -100%;
    display: inline;
    font-size: 10px;
    float: left;
}

#invul1{
    position: absolute;
    margin-left: -9%;
    width: 110px;
}

#invul2{
    width: 110px;
}

.ui-input-search {
    width: 30%;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    margin-top: -5%;
    margin-left: 30%;
}





.ui-grid-b{
    overflow: visible;
}

#btn-afmeld{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    margin-left: 75%;
    margin-top: -30%;
    z-index: 20;
}

#btn-afmeld-admin{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    margin-left: 8%;
    margin-top: -8%;
    z-index: 20;
}



#profiel{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 90px;
    position: absolute;
    right: 160px;
    top: 5px;
    text-align: center;
    margin-top: -1%;
}

#profiel_admin{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 90px;
    position: absolute;
    right: 160px;
    top: 5px;
    text-align: right;
    margin-top: -1%;

}

#head-btn p{
    text-shadow: none;
    font-weight: normal;
    color: #FFF;
    margin-top: -40%;
    margin-left: 50%;
    width: 80px;

}

.foto {
    height: 60px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    border: 2px solid #FFF;
    width: 60px;
    background-size: 100% !important;
    background-position: center;
    margin-left: -15%;
    margin-top: -8%;
}

h1{
    text-transform: uppercase;
    font-weight: lighter;
    color: #ec676f;
    text-shadow: none;
    border-bottom: 1px solid #ec676f;

}


#nav{
    font-family: 'DIN';
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    display: block;
    clear: both;

}

#nav a:hover{
    color: #FFF;
    background-color: #999;
    text-shadow: none;

}



#inhoud{

}


.foto_aanpas {
    height: 250px;
    -moz-border-radius:125px;
    -webkit-border-radius: 125px;
    width: 250px;
    background-size: 100% !important;
    background-position: center;
    position: absolute;
    left: 75%;
    top: 35%;
}

.foto_aanpas p a{
    position: absolute;
    left: 20%;
    top: 100%;
    font-size: 13px;
    color: #ec676f;
    font-family: 'DIN';
    font-weight: lighter;
    text-decoration: none;

}




#profile_user{
    height: 60px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    border: 2px solid #FFF;
    width: 60px;
    background-size: 100% !important;
    background-position: center;
    margin-left: -15%;
    margin-top: -8%;

}

/* General
******************************/
body{
    font-family: 'DIN';
    font-weight: lighter;
}


/* Header
******************************/
#header{
    background-color: #ec676f;
    width: 100%;
    padding-top: 10px;
    height: 100px;
}


/* Content
******************************/

/* Gebruiker aanmaken */
#aanmaken{
    margin-top:2em;
}

#content{
    min-height:100%;
    position:relative;
}

.ui-content{
    padding:10px;
    padding-bottom:60px;
}

#content_profile{
    margin-left: -20%;

}

/* Navigatie
******************************/
#nav{
    font-family: 'DIN';
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    display: block;
    clear: both;

}

#nav a:hover{
    color: #FFF;
    background-color: #999;
    text-shadow: none;

}



/* Search
******************************/
.ui-input-search {
    width: 30%;
    height: 30px;
    border-radius: 18px;
    position: absolute;
    margin-top: -5.1%;
    margin-left: 27%;
}



/* Footer
******************************/
footer{
    font-size: 10px;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    background-color: #ec676f;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 50px;
    text-align: right;
}

footer p{
    margin: 1.4% 3% 0 0;
    text-transform: uppercase;
    font-size: 10px;
}



/* Images
******************************/
.logo{

    padding: 10px;
    margin-left: 5%;
}


#iphone{
    margin-top: 5%;
    margin-left: 5%;
}

#ipad{
    margin-top: 2%;
}



/* Titles
******************************/
h1{
    text-transform: uppercase;
    font-weight: lighter;
    color: #ec676f;
    text-shadow: none;
    border-bottom: 1px solid #ec676f;
}

h2{
    color: #ec676f;
    font-family: 'zwodrei';
    font-size: 70px;
    margin-bottom: -3%;
    margin-left: 8%;
}

h3{
    text-transform: uppercase;
    font-size:1.5em;
    margin-left: -7.1%;
    margin-top: 1.3%;
}




/* Buttons
******************************/
#head-btn{
    float: right;
    width:400px;
    height:100px;
    margin-top:-7%;
}




#btn-registreer:hover {
    background: #ea696b;
    text-decoration: none;
}

#btn-aanmeld{
    color:  #ec676f;
    background-color: #FFF;
    border: 0px solid #FFF;
    text-shadow: none;
    font-family: 'DIN';
    font-weight: normal;
    margin-left: 73%;
    margin-top: -39%;
    font-size: 12px;
    height: 6px;
    line-height: 0.7;
    padding:0.8em 1em;
}

#btn-afmeld{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    margin-left: 75%;
    margin-top: -30%;
    z-index: 20;
}

#btn-afmeld-admin{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight: lighter;
    text-shadow: none;
    color: #FFF;
    font-size: 9px;
    margin-left: 30%;
    margin-top: 8%;
    z-index: 20;
}

#head-btn p{
    text-shadow: none;
    font-weight: normal;
    color: #FFF;
    margin-top: -40%;
    margin-left: 50%;
    width: 80px;

}

/* Onthouden knop */
#switch-auth-button{
    float:right;
}

.ui-btn-icon-right{
    padding:0.5em 3.5em 0.5em 0.8em;

}

#remember-switch2>label{
    color: #b3b3b3;
    font-size: 18px
}

#remember-switch2{
    color: #ec676f;
    border-radius: 10px;
    text-shadow: none;
    text-align: center;
}

#switch-auth2-button{
    font-size:1.2em;
    color: #ec676f;
    height: 14px;
    width: 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    text-shadow: none;
    text-align: center;
    background-color: #eee;
    display: inline;
}

.ui-field-contain {
    width:20%;
}


.ui-field-contain>label~[class*=ui-]{
    float:right;
    width:100%;
    padding: 0 0.1em;
    margin-right:-130%;
}

.ui-field-contain>label {
    text-shadow: none;
    color:#fff;
    font-size:1.4em;
    margin-top:-1.1%;
}

.register:hover {
    background: #fff;
}



/* Id en Classes
******************************/
#pomodoro-labels > span {
    background-color: #c7254e;
    color: #fff;
    border-radius: 3px;
    margin-right: .25em;
    padding: .25em .5em;
}





#slogan{
    margin:0;
    padding:0;
}


#vb img{
    float: left;
    padding: 20px;


}

#invul{
    margin-top: 2%;
    margin-left: 0%;
    display: inline;
    font-size: 10px;
    float: right;
    width:359px;

}

#invul1{
    position: absolute;
    margin-left: 0;
    width: 110px;
}

#invul2{
    width: 110px;
    margin-left: 35%;
}


.ui-grid-b{
    overflow: visible;
}

.ui-page-theme-a .ui-slider-track .ui-btn-active{
    background-color:#046a73;
}




/* Admin
******************************/
#admin{
    margin-left: 10%;
}





/* User
******************************/
#profiel{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 90px;
    position: absolute;
    right: 160px;
    top: 5px;
    text-align: center;
    margin-top: -1%;
}

#profiel_admin{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 90px;
    position: absolute;
    right: 160px;
    top: 5px;
    text-align: right;
    margin-top: -1%;

}

.foto {
    height: 60px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    border: 2px solid #FFF;
    width: 60px;
    background-size: 100% !important;
    background-position: center;
    margin-left: -15%;
    margin-top: -8%;
}

.foto_aanpas {
    height: 250px;
    -moz-border-radius:125px;
    -webkit-border-radius: 125px;
    width: 250px;
    background-size: 100% !important;
    background-position: center;
    position: absolute;
    left: 75%;
    top: 35%;
}
.foto_aanpas_profiel {
    height: 250px;
    -moz-border-radius:125px;
    -webkit-border-radius: 125px;
    width: 250px;
    background-size: 100% !important;
    background-position: center;
    position: absolute;
    left: 45%;
    top: 30%;
}
.foto_aanpas_profiel h3 {
    font-size: 30px;
    color: #ec676f;
    margin-top: -33%;
    font-family: 'DIN';
    font-weight: lighter;
    text-decoration: none;

}

.foto_aanpas p a{
    position: absolute;
    left: 20%;
    top: 100%;
    font-size: 13px;
    color: #ec676f;
    font-family: 'DIN';
    font-weight: lighter;
    text-decoration: none;
}




#profile_user{
    height: 60px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    border: 2px solid #FFF;
    width: 60px;
    background-size: 100% !important;
    background-position: center;
    margin-left: -2%;
    margin-top: 5%;

}











/******************************
/* Responsive Styles
******************************/
@media (max-width: 481px){


    /* Home
    ******************************/
    #header{
        height: 200px;
        width:100%;
    }
    .ui-input-search {
        width: 80%;
        height: 30px;
        border-radius: 18px;
        position: absolute;
        margin-top: 25%;
        margin-left: 5%;
    }



    #login_blok{
        width:100%;
        height:100%;
        margin:200px auto;
    }







}



/******************************
/* Prioriteit
******************************/

.hoog{
    background-color: darkred;
    color: white;
    width:20px;
    height:20px;
    border-radius:50px;
    line-height:100px;
    margin-left: 35%;
    margin-top: -2.5%;

}

.hoog2{
    background-color: darkred;
    color: white;
    width:20px;
    height:20px;
    border-radius:50px;
    line-height:100px;
    margin-left: 63%;
    margin-top: -26%;

}

.normaal{
    background-color: greenyellow;
    color: white;
    width:20px;
    height:20px;
    border-radius:50px;
    line-height:100px;
    margin-left: 35%;
    margin-top: -2.5%;
}

.normaal2{
    background-color: greenyellow;
    color: white;
    width:20px;
    height:20px;
    border-radius:50px;
    line-height:100px;
    margin-left: 63%;
    margin-top: -26%;

}


.laag{
    background-color: darkorange;
    color: white;
    width:20px;
    height:20px;
    border-radius:50px;
    line-height:100px;
    margin-left: 35%;
    margin-top: -2.5%;
}

.laag2{
    background-color: darkorange;
    color: white;
    width:20px;
    height:20px;
    border-radius:50px;
    line-height:100px;
    margin-left: 63%;
    margin-top: -26%;

}

.taken{
    border-bottom: 1px solid #999;
    padding-top: 1em;
    padding-bottom: 0.7em;
    margin-left: 8%;
    width: 800px;
    border-radius: 0em;
}

.taken2{
    padding-top: 1em;
    background-color: transparent;
    padding-bottom: 0.7em;
    margin-left: 8%;
    width: 800px;
    border-radius: 0em;
}

.taskDone{
    color: white !important;
    width:30px !important;
    height:30px !important;
    border-radius:50px !important;
    line-height:100px;
    background-color: #FFF !important;
    background-image: url('images/uncheck.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    cursor: pointer;
    position: absolute;
    text-align: center;
    margin-top: 0.5%;
    margin-left: -5%;
}

.taskDone:hover{
    color: #FFF;
    width:30px !important;
    height:30px !importantx;
    border-radius:50px;
    background-color: #ec676f;
    background-image: url('images/check.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    content: 'V';
    text-align: center;
    line-height: 24px;
}

.taskRedo{
    color: white !important;
    width:30px !important;
    height:30px !important;
    border-radius:50px !important;
    line-height:100px;
    background-color: #FFF !important;
    padding:0 !important;
    background-image: url('images/check.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    cursor: pointer;
    position: absolute;
    margin-top: 0.5%;
    margin-left: -5%;
}

.taskRedo:hover{
    color: #FFF;
    width:30px !important;
    height:30px !important;
    border-radius:50px;
    background-color: #FFF;
    border: 1px solid #ec676f;
    background-image: url('images/redo.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    content: 'V';
    text-align: center;
    line-height: 24px;
}

.taakdue{
    margin-left: 0%;
    color: #999;
    font-style: italic;
}

.taakdue2{
    margin-left: 5%;
    color: #999;
    font-style: italic;
}

.bold{
    font-weight: bold;
    font-size: 1.2em;
}

#finishedtasks{
    opacity: 0.6;
}


.btn-taak{
    margin-left: 65%;
    margin-top: -5%;
}

.btn-taak2{
    margin-left: 65%;
    margin-top: -8%;
}

.taskEdit_btn{
    color: white;
    width:30px;
    height:30px;
    border-radius:50px;
    line-height:100px;
    background-image: url('images/edit.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    cursor: pointer;

}

.taskDelete{
    color: white !important;
    width:30px !important;
    height:30px;
    border-radius:50px !important;
    line-height:100px;
    background-image: url('images/delete.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    cursor: pointer;
    margin-right: 2%;

}
.listDelete{
    color: white;
    width:30px;
    height:30px;
    border-radius:50px;
    line-height:100px;
    background-image: url('images/delete.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    cursor: pointer;

}

.listUpdate_btn{
    color: white;
    width:30px;
    height:30px;
    border-radius:50px;
    line-height:100px;
    background-image: url('images/edit.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 1px solid #ec676f;
    cursor: pointer;
    margin-left: 2%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

#btn-toevoeg{
    color: white;
    width:30px;
    height:30px;
    border-radius:0px;
    line-height:100px;
    background-color: transparent;
    background-image: url('images/plus.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #FFF;
    cursor: pointer;
    opacity: 1;
}

.ui-page-theme-a .ui-btn input#friend_add{
       height: 60px !important;
}

#friend_add{
    background-color: transparent !important;
    width: 100px !important;
    height: 50px !important;
    color: white;
    line-height:100px;
    background-image: url('images/add.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #ec676f !important;
    cursor: pointer;
    box-shadow: none;
    opacity: 1;
}


#friend_reject{
    background-color: transparent !important;
    width: 100px !important;
    height: 50px !important;
    color: white;
    line-height:100px;
    background-image: url('images/rejected.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #ec676f !important;
    cursor: pointer;
    box-shadow: none;
    opacity: 1;
}
#friend_acc{
    background-color: transparent !important;
    width: 100px !important;
    height: 50px !important;
    padding-top: 2em;
    color: white;
    line-height:100px;
    background-image: url('images/accepted.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #ec676f !important;
    box-shadow: none;
    opacity: 1;
}
#friend_pending{
    background-color: transparent !important;
    width: 100px !important;
    height: 50px !important;
    padding-top: 2em;
    color: white;
    line-height:100px;
    background-image: url('images/pending.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #ec676f !important;
    box-shadow: none;
    opacity: 1;
}

.toevoeg{
    margin-top: 5%;
    margin-left: -0.5%;
}
.btn-list{
    margin-left: 50%;
    margin-top: -6%;

}

ul{
    list-style-type: none;
}

h4{
    font-size: 20px;
}

#lijst{
    border-bottom: 1px solid #999;
    border-right-width: 1px;
    border-left-width: 1px;
}
.lijstTodos {

}


#search-head{
    margin-left: 20%;

}

.ui-btn-icon{
    background-color: #eee;

}

.reminder{
    margin-top: 45%;
    margin-left: 30%;
    border-top: 1px solid #ec676f;
    border-bottom: 1px solid #ec676f;
    padding: 1em 3em;
    width: 230px;


}

.cursief{
    font-style: italic;
    margin-left: 22%;
}

.italic{
    font-style: italic;
    font-size: 18px;
    color: #999;
}

.input-list {
    width: 300px;
    margin-left: 7%;
    margin-top: -5%;

}

#btn-toevoeg-lijst{
    color: white;
    border-radius:0px;
    line-height:100px;
    background-color: transparent;
    background-image: url('images/plus.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #FFF;
    cursor: pointer;
    opacity: 1;
    margin-top: 5%;
    margin-top: 0%
}

.ui-btn.ui-btn-b{
    width: 20px;
    height: 20px;
    border-radius:0px;
    line-height:100px;
}

#shared{
    margin-top: 10%;
    padding-bottom: 2em;
}

#shared a{
    text-decoration: none;
}

.link {
    color: #000;
    font-weight: lighter;
    margin-left: 7%;
    margin-top: 5%;
}

.lijstGed{
    margin-left: 5%;
    padding-top: 0.5em;

}


.listShare_btn {
    background-color: transparent !important;
    width: 40px !important;
    height: 40px;
    color: white;
    border-radius:50px !important;
    line-height:100px;
    background-image: url('images/share.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    border: 0px solid #ec676f !important;
    cursor: pointer;
    margin-left: 1%;
    margin-top: -6.2%;
    box-shadow: none;
}

.allBtn{
    background-color: #eee !important;
    color: #ec676f !important;
    height: 20px !important;
    width: 100px !important;
    font-weight: lighter;

}
.allBtn:hover{
    background-color: #999 !important;
    color: #fff !important;
    height: 20px !important;
    width: 100px !important;
    font-weight: lighter;

}
.allBtn_Anu{
    background-color: #eee !important;
    color: #ec676f !important;
    height: 20px !important;
    width: 100px !important;
    font-weight: lighter;
    margin-left: 10em;
    margin-top: -3.2em;

}
.allBtn_Anu a{
    text-decoration: none;
    color: #ec676f !important;
    font-weight: lighter;

}
.allBtn_Anu:hover a{
    text-decoration: none;
    color: #fff !important;
    font-weight: lighter;

}

.allBtn_Anu:hover{
    background-color: #999 !important;
    color: #fff !important;
    height: 20px !important;
    width: 100px !important;
    font-weight: lighter;

}



#page-friends{
    padding-top: 5%;
    padding-bottom: 5%;
}


#page-friends section{
    margin-left: 2.5em;
}

#page-list section{
    margin-left: 2.5em;
}

.ui-checkbox{
    margin-left: -2.5em;
    margin-top: -2em;
}

.ui-btn .ui-corner-all .ui-icon-delete{
    width: 500px !important;
}

.ui-corner-all.ui-shadow{
    width: 90px;
    height: 60px;
}

#lists_id-button{
    width: 40px;
    background-color: #eee;
    border-radius: 20px;
    height: 40px;
}

#prioriteit-button{
    width: 100px;
    background-color: #eee;
    border-radius: 20px;
    height: 40px;
}

#tags-button{
    width: 55px;
    background-color: #eee;
    border-radius: 20px;
    height: 40px;

}
.listsDrop{
    margin-top: 6em;
    margin-left: 0em;
}
.prior{
    margin-top: 6em;
}
.ui-select {
    float: left;

}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content{
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 0em;
}

#reminder_content{
    margin-top: 43%
}